<div class="box vss-devise-form">
  <h2 class="is-size-3">Edit <%= resource_name.to_s.humanize %></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :username, class: 'label' %>
      <%= f.text_field :username, autofocus: true, autocomplete: "name", class: 'input' %>
    </div>


    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <% unless current_user.no_password %>
      <div class="field">
        <%= f.label :email, class: 'label' %>
        <%= f.email_field :email, autocomplete: "email", class: 'input' %>
      </div>

      <div class="field">
        <%= f.label :password, class: 'label' %> <i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, autocomplete: "new-password", class: 'input' %>
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, class: 'label' %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'input' %>
      </div>

      <div class="field">
        <%= f.label :current_password, class: 'label' %>
        <%= f.password_field :current_password, autocomplete: "current-password", class: 'input' %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Update", class: 'button' %>
    </div>
  <% end %>
  <hr />

  <%= button_to "Delete account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'button is-danger is-light' %>

</div>
