<div class="box">
  <h2 class="is-size-3">Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email, class: 'label' %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'input' %>
    </div>

    <div class="field">
      <%= f.label :password, class: 'label' %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
      <%= f.password_field :password, autocomplete: "new-password", class: 'input' %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, class: 'label' %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'input' %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", class: 'button' %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
