<p id="notice"><%= notice %></p>

<%= javascript_pack_tag 'charts_index' %>

<nav class="panel">
  <p class="panel-heading">
    <%= @user.email %>'s Routines
  </p>
  <% if @charts.any? %>
    <% @charts.each do |chart| %>
      <div class="panel-block is-justify-content-flex-end panel-list">
        <div class="chart-title"><%= link_to chart.title, chart %></div>
        <div class="vss-panel-list_button">
          <input type="hidden" value="<%= rails_storage_proxy_url(chart.image) %>">
          <a class="vss-copy-button button">Copy</a>
        </div>
        <div class="vss-panel-list_button">
          <input type="hidden" value="<%= to_embed rails_storage_proxy_url(chart.image), chart.title %>">
          <a class="vss-copy-button button">Copy embed</a>
        </div>
        <div class="vss-panel-list_button"><%= link_to 'Delete', chart, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button' if @user == current_user %></div>
      </div>
    <% end %>
  <% else %>
    <p class="vss-no_charts_message has-text-centered	is-size-4">There is no routine you saved.</p>
  <% end %>
</nav>
<br>

<%= link_to 'New Chart', new_chart_path if @user == current_user %> <!--#TODO-->
