<header>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item">Visible Scratch Skillz</a>

      <div class="dropdown is-right vss-burger-menu">
        <input type="checkbox" id="burger-checkbox">
        <label for="burger-checkbox">
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </label>
        <div class="dropdown-menu" role="menu">
          <div class="dropdown-content is-shadowless">
            <%= link_to 'New', new_chart_path, class: 'dropdown-item' %>
            <% if user_signed_in? %>
              <%= link_to 'List', current_user, class: 'dropdown-item' %>
              <%= link_to 'Edit profile', edit_user_registration_path, class: 'dropdown-item' %>
              <%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
            <% else %>
              <%= link_to "Sign up", new_user_registration_path, class: 'dropdown-item' %>
              <%= link_to "Login", new_user_session_path, class: 'dropdown-item' %>
            <% end %>
          </div>
        </div>
      </div>

    </div>

    <div class="navbar-menu">
      <div class="navbar-end">
        <%= link_to 'New', new_chart_path, class: 'navbar-item' %>
        <% if user_signed_in? %>
          <%= link_to 'List', current_user, class: 'navbar-item' %>
          <div class="dropdown is-hoverable is-right navbar-item navbar-link">
            <div class="dropdown-trigger">
              <span class="icon">
                <i class="fas fa-user fa-lg" aria-hidden="true"></i>
              </span>
            </div>
            <div class="dropdown-menu" role="usermenu">
              <div class="dropdown-content is-shadowless">
                <%= link_to 'Edit profile', edit_user_registration_path, class: 'dropdown-item' %>
                <%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
              </div>
            </div>
          </div>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path, class: 'navbar-item' %>
          <%= link_to "Login", new_user_session_path, class: 'navbar-item' %>
        <% end %>
      </div>
    </div>
  </nav>
</header>
