<% if notice %>
  <div class="notification is-light <%= notice == 'Requested page required login.' ? 'is-warning' : 'is-primary' %>">
    <p id="notice"><strong><%= notice %></strong></p>
  </div>
<% end %>
<div class="vss-welcome-container">
  <h1 class="is-size-2 has-text-weight-bold">Let's make scratch chart quickly!</h1>

  <div class="columns">
    <div class="column">
      <%= image_tag 'chart_sample.png' %>
    </div>
    <div class="column vss-demo_movie">
      <iframe src="https://www.youtube.com/embed/mmrSsEF59x4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <h2 class="is-size-4 has-text-weight-bold">
        <span class="has-text-info">
          <i class="fas fa-compact-disc"></i>
        </span>
        Drawing chart lines</h2>
      <p class="has-text-weight-bold">Select Trick, Click Count(in case of Transformer or Flare), Pattern and Beat
        Length and click Add Trick button.</p>
    </div>
    <div class="column">
      <%= image_tag 'create_demo.gif' %>
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <h2 class="is-size-4 has-text-weight-bold">
        <span class="has-text-info">
          <i class="fas fa-compact-disc"></i>
        </span>
        Export image</h2>
      <p class="has-text-weight-bold">Click Export button to create png image.</p>
    </div>
    <div class="column">
      <%= image_tag 'joe_cooley.png' %>
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <h2 class="is-size-4 has-text-weight-bold">
        <span class="has-text-info">
          <i class="fas fa-compact-disc"></i>
        </span>
        Copy image URL or embed</h2>
      <p class="has-text-weight-bold">You will be able to save it once you login. In addition, you will use clipboard
        image URL and embed tag.</p>
      <p class="has-text-weight-bold">Left side copy button is URL like <span class="vss-copy-example">"https://example.png"</span>.</p>
      <p class="has-text-weight-bold">Right side copy button is Embed like <span class="vss-copy-example">"&lt;img src='https://example.png'&gt;"</span>.</p>
    </div>
    <div class="column">
      <%= image_tag 'login_user_example.png' %>
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <h2 class="is-size-4 has-text-weight-bold">
        <span class="has-text-info">
          <i class="fas fa-compact-disc"></i>
        </span>
        Use on your own contents</h2>
      <p class="has-text-weight-bold">This is useful for explaining things like this on a blog.</p>
    </div>
    <div class="column">
      <%= image_tag 'blog_example.png' %>
    </div>
  </div>

  <div class="vss-welcome-links">
    <div class="vss-welcome-links__start">
      <%= link_to "Sign up", new_user_registration_path, class: 'has-text-weight-bold vss-sign-up button is-medium' %>
      <%= link_to "Log in", new_user_session_path, class: 'has-text-weight-bold vss-login button is-medium' %>
    </div>
    <%= link_to 'Start without a login', new_chart_path, class: 'has-text-weight-bold' %>
  </div>
</div>
