<%= form_with model: chart, multipart: true do |form| %>
  <% if chart.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(chart.errors.count, "error") %> prohibited this chart from being saved:</h2>

      <ul>
        <% chart.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div id="js-chart"></div>

<!--<div class="field">-->
  <%#= form.label :image %>
  <%#= form.file_field :image%>
<!--</div>-->

<!--  <div class="field">-->
    <%#= form.label :image %>
    <%#= form.hidden_field :image %>
<!--  </div>-->

    <%#= form.fields_for :image do |s|%>
      <%# s.label :image %>
      <%#= s.text_field :image %>
      <%# end %>

  <input type="hidden" name="chart[image]" id="chart_image">

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
