<%= webpack_asset_tag 'chart' %>

<% if chart.errors.any? %>
  <div id="error_explanation" class="notification is-danger is-light">
    <ul>
      <% chart.errors.each do |error| %>
        <li><strong><%= error.full_message %></strong></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: chart, multipart: true, class: 'box is-shadowless', id: 'form' do %>
  <div id="js-chart"
    <% if chart.id %>
      <%= "data-chart-id=#{chart.id}" %>
      <% if current_user %>
        <%= "data-current-user-id=#{current_user.id}" %>
      <% end %>
    <% end %>
    <% if !user_signed_in? %>
      <%= 'non-login=true' %>
    <% else %>
      <%= 'non-login=false' %>
    <% end %>>
  </div>
<% end %>
