<%= form_with model: chart, multipart: true do |form| %>
  <% if chart.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(chart.errors.count, "error") %> prohibited this chart from being saved:</h2>

      <ul>
        <% chart.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div id="js-chart"
    <% if chart.id %>
      <%= "data-chart-id=#{chart.id}" %>
      <%= "data-current-user-id=#{current_user.id}" %>
    <% end %>
  ></div>

  <% if params[:action] == 'new' || chart.user == current_user %>
    <div class="actions">
      <%= form.submit class: 'button' %>
    </div>
  <% end %>
<% end %>
