<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @chart.title %>
</p>

<p>
  <strong>Chart code:</strong>
  <%= @chart.chart_code %>
</p>

<%= link_to 'Edit', edit_chart_path(@chart) %> |
<%= link_to 'Back', charts_path %>
