<!DOCTYPE html>
<html prefix="og: https://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="application for creating scratch chart">
    <meta property="og:title" content="<%= full_title yield(:title) %>">
    <meta property="og:description" content="application for creating scratch chart">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://visible-scratch-skillz.net/">
    <meta property="og:site_name" content="Visible Scratch Skillz">
    <meta property="og:image" content="https://visible-scratch-skillz.net/assets/vss_logo_ogp-9562bbaf336c334d958819c7f7d68196082de7ba8de3de50004716e76f4ea71e.png">
    <%= favicon_link_tag %>
    <%= favicon_link_tag 'apple-touch-icon.png', rel: 'apple-touch-icon' %>
    <title><%= full_title yield(:title) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= webpack_asset_tag 'application' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.0/css/all.css">
  </head>

  <body>
    <div class="wrapper">
      <div class="wrapper__start">
        <%= render 'shared/header' %>
        <%= yield %>
      </div>
      <div class="wrapper__end">
        <%= render 'shared/footer' %>
      </div>
    </div>
  </body>
</html>
